footer table{
    margin-left: 150;
    height: 250px;
    margin-top: 50px;
    width:1000px;
    text-align: center;}

footer table tr th{
    width:500px;
    text-align: center;}

footer{
    background-color: white;
   }


footer h2{
        width: 90%;
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;}


footer h1{              
        font-weight: 800;
        color: black;}



.logoFooter{
    margin-left: 43%;
    align-items: center;
    height: 140px;
    width: 170px;    
}

#text{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    animation: slideText 20s linear infinite;
}

@keyframes slideText {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

#photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

#photo-gallery img {
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#photo-gallery img.active {
    opacity: 1;
}